@font-face {
  font-family: 'VenturaEdding-Medium';
  src: url("font/VenturaEdding-Medium.eot");
  src: url("font/VenturaEdding-Medium.eot?#iefix") format("embedded-opentype"), url("font/VenturaEdding-Medium.woff") format("woff"), url("font/VenturaEdding-Medium.ttf") format("truetype"), url("font/VenturaEdding-Medium.svg#VenturaEdding-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
