@font-face {
	font-family: 'VenturaEdding-Medium';
	src: url("font/VenturaEdding-Medium.eot");
	src: url("font/VenturaEdding-Medium.eot?#iefix") format('embedded-opentype'),
		url("font/VenturaEdding-Medium.woff") format('woff'),
		url("font/VenturaEdding-Medium.ttf") format('truetype'),
		url("font/VenturaEdding-Medium.svg#VenturaEdding-Medium") format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DangerDiabolik';
	src: url("font/DangerDiabolik.eot");
	src: url("font/DangerDiabolik.eot?#iefix") format('embedded-opentype'),
		url("font/DangerDiabolik.woff") format('woff'),
		url("font/DangerDiabolik.ttf") format('truetype'),
		url("font/DangerDiabolik.svg#DangerDiabolik") format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'VenturaEdding-Bold';
	src: url("font/VenturaEdding-Bold.eot");
	src: url("font/VenturaEdding-Bold.eot?#iefix") format('embedded-opentype'),
		url("font/VenturaEdding-Bold.woff") format('woff'),
		url("font/VenturaEdding-Bold.ttf") format('truetype'),
		url("font/VenturaEdding-Bold.svg#VenturaEdding-Bold") format('svg');
	font-weight: normal;
	font-style: normal;
}