@font-face {
  font-family: 'VenturaEdding-Medium';
  src: url("font/VenturaEdding-Medium.eot");
  src: url("font/VenturaEdding-Medium.eot?#iefix") format("embedded-opentype"), url("font/VenturaEdding-Medium.woff") format("woff"), url("font/VenturaEdding-Medium.ttf") format("truetype"), url("font/VenturaEdding-Medium.svg#VenturaEdding-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DangerDiabolik';
  src: url("font/DangerDiabolik.eot");
  src: url("font/DangerDiabolik.eot?#iefix") format("embedded-opentype"), url("font/DangerDiabolik.woff") format("woff"), url("font/DangerDiabolik.ttf") format("truetype"), url("font/DangerDiabolik.svg#DangerDiabolik") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'VenturaEdding-Bold';
  src: url("font/VenturaEdding-Bold.eot");
  src: url("font/VenturaEdding-Bold.eot?#iefix") format("embedded-opentype"), url("font/VenturaEdding-Bold.woff") format("woff"), url("font/VenturaEdding-Bold.ttf") format("truetype"), url("font/VenturaEdding-Bold.svg#VenturaEdding-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'VenturaEdding-Medium';
  background: #000; }

a {
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s; }

.contenedor {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }

header {
  background: url(../images/bg-nav.png) no-repeat top center;
  background-size: contain;
  width: 100%;
  height: 70px;
  position: absolute; }
  header span {
    position: absolute; }
    header span.idioma {
      background: url(../images/bg_idioma.png) no-repeat;
      display: block;
      left: 20px;
      width: 89px;
      height: 35px;
      text-align: center;
      padding: 10px 15px;
      box-sizing: border-box; }
      header span.idioma a {
        color: #fff; }
    header span.icon-nav {
      display: block;
      width: 48px;
      height: 42px;
      right: 20px;
      top: 10px;
      cursor: pointer; }

.slider {
  background: url(../images/banner-home.jpg) no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 778px; }
  .slider .slider-home .container span {
    display: block;
    text-align: center; }
    .slider .slider-home .container span img {
      vertical-align: middle; }
    .slider .slider-home .container span.h1 {
      font-family: 'DangerDiabolik';
      font-size: 3em;
      color: #fff;
      padding: 1em 0 0; }
    .slider .slider-home .container span.h2 {
      color: #ffaf36;
      font-size: 1.5em;
      padding: .4em 0; }
  .slider .slider-home .container .box:after {
    content: "";
    display: table;
    clear: both; }
  .slider .slider-home .container .box .left, .slider .slider-home .container .box .right {
    width: 50%;
    float: left;
    text-align: center;
    color: #fff; }
  .slider .slider-home .container .box .right span {
    margin: 0 auto; }
    .slider .slider-home .container .box .right span.frase {
      padding: 15em 0 2em; }
    .slider .slider-home .container .box .right span.button-more a {
      background: url(../images/bg-button-more.png) no-repeat center center;
      color: #000;
      font-family: "VenturaEdding-Bold";
      font-size: 1.6em;
      padding: 1em 1.8em; }
  .slider .slider-home .container .box .right ul {
    margin: 0;
    padding: 3em 0 0; }
    .slider .slider-home .container .box .right ul li {
      list-style-type: none;
      display: inline-table;
      padding: 1.5em; }
      .slider .slider-home .container .box .right ul li span:first-child {
        min-height: 50px; }
  .slider .scroll-serie {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/bg-serie.jpg) no-repeat top left;
    background-size: cover;
    width: 100%;
    height: 778px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px; }
    .slider .scroll-serie .panel {
      -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
      -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
      transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
      -webkit-transform-origin: 50% 0%;
      -moz-transform-origin: 50% 0%;
      transform-origin: 50% 0%; }
    .slider .scroll-serie.hide .panel {
      -webkit-transform: rotateX(-100deg);
      -moz-transform: rotateX(-100deg);
      transform: rotateX(-120deg); }
    .slider .scroll-serie .arrow {
      position: absolute;
      right: 100px;
      top: 48%;
      z-index: 1000;
      cursor: pointer; }
    .slider .scroll-serie .nav-serie .container {
      color: #434343; }
      .slider .scroll-serie .nav-serie .container ul {
        padding: 0; }
        .slider .scroll-serie .nav-serie .container ul li {
          list-style-type: none;
          display: inline-block;
          padding: 0 1.5em;
          background: url(../images/separator.png) no-repeat center right; }
          .slider .scroll-serie .nav-serie .container ul li span {
            color: #71562c; }
          .slider .scroll-serie .nav-serie .container ul li a {
            color: #434343; }
            .slider .scroll-serie .nav-serie .container ul li a:hover {
              color: #71562c; }
          .slider .scroll-serie .nav-serie .container ul li:first-child {
            padding-left: 0;
            background: none; }
    .slider .scroll-serie .landing-wrapper {
      width: 100%;
      height: 700px;
      position: absolute;
      top: 50px; }
      .slider .scroll-serie .landing-wrapper .landing-inner-content {
        width: 2100px;
        height: 700px;
        position: absolute;
        top: 0; }
      .slider .scroll-serie .landing-wrapper .box {
        position: relative;
        min-width: 500px;
        height: 673px;
        margin: 20px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center; }
        .slider .scroll-serie .landing-wrapper .box:first-child {
          min-width: 400px;
          justify-content: flex-start;
          margin-left: 0; }
          .slider .scroll-serie .landing-wrapper .box:first-child .box-content img {
            height: auto;
            padding: 8em 0; }
        .slider .scroll-serie .landing-wrapper .box .box-content {
          height: 100%;
          z-index: 999;
          overflow: hidden; }
          .slider .scroll-serie .landing-wrapper .box .box-content img {
            width: auto; }
        .slider .scroll-serie .landing-wrapper .box.box-1 .box-content {
          width: 1545px;
          height: 673px; }
          .slider .scroll-serie .landing-wrapper .box.box-1 .box-content img {
            position: absolute !important;
            top: 0;
            left: 0; }
            .slider .scroll-serie .landing-wrapper .box.box-1 .box-content img.p02 {
              top: 120px;
              left: 42px;
              height: auto;
              z-index: 1; }
            .slider .scroll-serie .landing-wrapper .box.box-1 .box-content img.p03 {
              top: 137px;
              left: 353px;
              height: auto;
              z-index: 2; }
            .slider .scroll-serie .landing-wrapper .box.box-1 .box-content img.p04 {
              top: 276px;
              left: 150px;
              height: auto;
              z-index: 4; }
            .slider .scroll-serie .landing-wrapper .box.box-1 .box-content img.p04_1 {
              top: 342px;
              left: 78px;
              height: auto;
              z-index: 3; }
            .slider .scroll-serie .landing-wrapper .box.box-1 .box-content img.p05 {
              top: 169px;
              left: 460px;
              height: auto;
              z-index: 3; }
            .slider .scroll-serie .landing-wrapper .box.box-1 .box-content img.p06 {
              top: 243px;
              left: 627px;
              height: auto;
              z-index: 2; }
            .slider .scroll-serie .landing-wrapper .box.box-1 .box-content img.p07_1 {
              top: 123px;
              left: 770px;
              height: auto; }
            .slider .scroll-serie .landing-wrapper .box.box-1 .box-content img.p07_2 {
              top: 125px;
              left: 880px;
              height: auto; }
            .slider .scroll-serie .landing-wrapper .box.box-1 .box-content img.p07_3 {
              top: 70px;
              left: 878px;
              height: auto; }
            .slider .scroll-serie .landing-wrapper .box.box-1 .box-content img.p08 {
              top: 154px;
              left: 880px;
              height: auto; }
        .slider .scroll-serie .landing-wrapper .box.box-2 .box-content {
          width: 1202px; }
          .slider .scroll-serie .landing-wrapper .box.box-2 .box-content img {
            position: absolute !important;
            top: 0;
            left: 0; }
            .slider .scroll-serie .landing-wrapper .box.box-2 .box-content img.ms_01 {
              top: 145px !important;
              left: 230px !important;
              z-index: 3; }
            .slider .scroll-serie .landing-wrapper .box.box-2 .box-content img.ms_02 {
              top: 35px !important;
              left: 260px !important;
              z-index: 3; }
            .slider .scroll-serie .landing-wrapper .box.box-2 .box-content img.ms_03 {
              top: 235px !important;
              left: 675px !important;
              z-index: 3; }
            .slider .scroll-serie .landing-wrapper .box.box-2 .box-content img.ms_04 {
              top: 25px !important;
              left: 60px !important;
              z-index: 3; }
            .slider .scroll-serie .landing-wrapper .box.box-2 .box-content img.ms_05 {
              top: 140px !important;
              left: 0 !important;
              z-index: 3; }
            .slider .scroll-serie .landing-wrapper .box.box-2 .box-content img.ms_06 {
              top: 20px !important;
              left: 785px !important;
              z-index: 3; }
            .slider .scroll-serie .landing-wrapper .box.box-2 .box-content img.ms_07 {
              top: 380px !important;
              left: 995px !important;
              z-index: 3; }
            .slider .scroll-serie .landing-wrapper .box.box-2 .box-content img.p09 {
              top: 240px !important;
              left: 38px !important;
              z-index: 2; }
            .slider .scroll-serie .landing-wrapper .box.box-2 .box-content img.p10 {
              top: 240px !important;
              left: 290px !important; }
            .slider .scroll-serie .landing-wrapper .box.box-2 .box-content img.p11 {
              top: 143px !important;
              left: 739px !important; }
        .slider .scroll-serie .landing-wrapper .box.box-3 .box-content {
          width: 1115px; }
          .slider .scroll-serie .landing-wrapper .box.box-3 .box-content img {
            position: absolute !important;
            top: 0;
            left: 0; }
            .slider .scroll-serie .landing-wrapper .box.box-3 .box-content img.p20 {
              top: 259px !important;
              left: 150px !important;
              z-index: 5; }
            .slider .scroll-serie .landing-wrapper .box.box-3 .box-content img.p21 {
              top: 259px !important;
              left: 250px !important;
              z-index: 3; }
            .slider .scroll-serie .landing-wrapper .box.box-3 .box-content img.p22 {
              top: 301px !important;
              left: 750px !important;
              z-index: 3; }
            .slider .scroll-serie .landing-wrapper .box.box-3 .box-content img.p23 {
              top: 307px !important;
              left: 50px !important;
              z-index: 3; }
            .slider .scroll-serie .landing-wrapper .box.box-3 .box-content img.ms_10 {
              top: 100px !important;
              left: 320px !important;
              z-index: 4; }
            .slider .scroll-serie .landing-wrapper .box.box-3 .box-content img.ms_11 {
              top: 100px !important;
              left: 40px !important;
              z-index: 3; }
            .slider .scroll-serie .landing-wrapper .box.box-3 .box-content img.text-001 {
              top: 160px !important;
              left: 100px !important;
              z-index: 3; }
            .slider .scroll-serie .landing-wrapper .box.box-3 .box-content img.text-002 {
              top: 155px !important;
              left: 460px !important;
              z-index: 4; }
            .slider .scroll-serie .landing-wrapper .box.box-3 .box-content img.text-003 {
              top: 25px !important;
              left: 40px !important;
              z-index: 3; }
        .slider .scroll-serie .landing-wrapper .box.box-4 .box-content {
          width: 469px;
          height: 666px; }
          .slider .scroll-serie .landing-wrapper .box.box-4 .box-content img {
            position: absolute !important; }
            .slider .scroll-serie .landing-wrapper .box.box-4 .box-content img.bg_04 {
              display: block; }
            .slider .scroll-serie .landing-wrapper .box.box-4 .box-content img.p25 {
              top: 140px !important;
              left: 18px !important;
              z-index: 3; }
            .slider .scroll-serie .landing-wrapper .box.box-4 .box-content img.text-004 {
              top: 40px !important;
              left: 50px !important;
              z-index: 3; }
        .slider .scroll-serie .landing-wrapper .box.box-5 .box-content {
          width: 945px;
          height: 666px;
          overflow: hidden; }
          .slider .scroll-serie .landing-wrapper .box.box-5 .box-content img {
            position: absolute !important; }
            .slider .scroll-serie .landing-wrapper .box.box-5 .box-content img.bg_05 {
              display: block; }
            .slider .scroll-serie .landing-wrapper .box.box-5 .box-content img.p31 {
              top: 456px !important;
              left: 150px !important;
              z-index: 3; }
            .slider .scroll-serie .landing-wrapper .box.box-5 .box-content img.p32 {
              top: 360px !important;
              left: 70px !important;
              z-index: 3; }
            .slider .scroll-serie .landing-wrapper .box.box-5 .box-content img.p33 {
              top: 350px !important;
              left: 200px !important;
              z-index: 2; }
            .slider .scroll-serie .landing-wrapper .box.box-5 .box-content img.p34 {
              top: 496px !important;
              left: 418px !important;
              z-index: 3; }
            .slider .scroll-serie .landing-wrapper .box.box-5 .box-content img.p35 {
              top: 350px !important;
              left: 325px !important;
              z-index: 2; }
            .slider .scroll-serie .landing-wrapper .box.box-5 .box-content img.p36 {
              top: 445px !important;
              left: 640px !important;
              z-index: 3; }
            .slider .scroll-serie .landing-wrapper .box.box-5 .box-content img.text5 {
              top: 0 !important;
              left: 0 !important;
              z-index: 3; }
            .slider .scroll-serie .landing-wrapper .box.box-5 .box-content img.text6 {
              top: 160px !important;
              left: 50px !important;
              z-index: 3; }
            .slider .scroll-serie .landing-wrapper .box.box-5 .box-content img.text7 {
              top: 180px !important;
              left: 350px !important;
              z-index: 3; }
  .slider .active {
    display: block !important; }

section .container {
  color: #fff; }
  section .container:after {
    content: "";
    display: table;
    clear: both; }
  section .container .left {
    width: 55%;
    margin-right: 10%;
    float: left; }
    section .container .left article {
      padding: 1em 0; }
      section .container .left article div {
        position: relative; }
        section .container .left article div img.separator {
          width: 100%; }
        section .container .left article div .icon {
          position: absolute;
          left: -39px;
          top: -3px; }
      section .container .left article p {
        line-height: 180%;
        color: #9e9e9e; }
  section .container .right {
    width: 35%;
    float: left; }
    section .container .right aside {
      padding-top: 1em; }
      section .container .right aside .newsletter:after {
        content: "";
        display: table;
        clear: both; }
      section .container .right aside .newsletter span {
        float: left;
        display: block;
        box-sizing: border-box; }
        section .container .right aside .newsletter span input {
          background: url(../images/bg-input.png) no-repeat center center;
          width: 100%;
          height: 47px;
          border: none;
          padding: 1em;
          box-sizing: border-box;
          color: #434343; }
        section .container .right aside .newsletter span:first-child {
          width: 78%; }
        section .container .right aside .newsletter span:last-child {
          background: url(../images/bg-value.png) no-repeat center left;
          width: 22%;
          padding: 1em; }
      section .container .right aside .redes {
        padding: 1em 0; }
        section .container .right aside .redes ul {
          padding: 0; }
          section .container .right aside .redes ul li {
            list-style-type: none;
            display: inline-block;
            vertical-align: top; }
      section .container .right aside img.bg_aside {
        width: 100%; }
