@media screen and (max-width: 414px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }

  header span.icon-nav {
    position: fixed;
    top: 25px;
    right: 20px;
    z-index: 999;
  }

  .slider .slider-home .container span.h1 {
    padding-top: 1.7em;
  }
  .slider .slider-home .container .box {
    position: relative;
  }
  .slider .slider-home .container .box .left {
    width: 100%;
  }
  .slider .slider-home .container .box .right {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .slider .slider-home .container .box .right span.frase {
    padding: 18em 0 2em;
    text-shadow: 2px 3px 10px #292929;
  }
  .slider .slider-home .container .box .right ul {
    padding: 2em 0 0;
    font-size: .85em;
  }
  .slider .slider-home .container .box .right ul:after {
    content: "";
    display: table;
    clear: both;
  }
  .slider .slider-home .container .box .right ul li {
    display: initial;
    width: 32%;
    float: left;
    padding: 0 2% 0 0;
  }
  .slider .slider-home .container .box .right ul li:last-child {
    padding: 0;
  }
  .slider .scroll-serie .nav-serie .container ul {
    padding: 0;
  }
  .slider .scroll-serie .nav-serie .container ul li {
    display: none;
  }
  .slider .scroll-serie .nav-serie .container ul li:last-child {
    display: block;
  }

  section .container .left {
    width: 100%;
  }
  section .container .right {
    width: 100%;
  }
  section .container .right aside .newsletter span input {
    background-size: cover;
  }
}
@media screen and (max-width: 320px) {
  .slider .slider-home .container .box .left img {
    width: 100%;
  }

  section .container .right {
    width: 100%;
  }
  section .container .right aside img.bg_aside {
    width: 100%;
  }
}
