@import 'font';

//MIXIN
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin ulcero {
	padding: 0;
	margin: 0;
}
@mixin center {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
//VARS
$bold: 'VenturaEdding-Bold';
$medium: 'VenturaEdding-Medium';


body {
	font-family: 'VenturaEdding-Medium';
	background: #000;
}
a {
	text-decoration: none;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.contenedor {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

header {
	background: url(../images/bg-nav.png) no-repeat top center;
	background-size: contain;
	width: 100%;
	height: 70px;
	//font-family: 'VenturaEdding-Medium';
	position: absolute;
	span {
		position: absolute;
		&.idioma {
			background: url(../images/bg_idioma.png) no-repeat;
			display: block;
			left: 20px;
			width: 89px;
			height: 35px;
			text-align: center;
			padding: 10px 15px;
    		box-sizing: border-box;
    		a {
    			color: #fff;
    		}
		}
		&.icon-nav {
			display: block;
			width: 48px;
			height: 42px;
			right: 20px;
			top: 10px;
			cursor: pointer;
		}
	}
}
.slider {
	background: url(../images/banner-home.jpg) no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 778px;
	.slider-home {
		.container {
			//display: none;
			span {
				display: block;
				text-align: center;
				img {
					vertical-align: middle;
				}
				&.h1 {
					font-family: 'DangerDiabolik';
					font-size: 3em;
					color: #fff;
					padding: 1em 0 0;
				}
				&.h2 {
					color: #ffaf36;
					font-size: 1.5em;
					padding: .4em 0;
				}
			}
			.box {
				@include clearfix;
				.left, .right {
					width: 50%;
					float: left;
					text-align: center;
					color: #fff;
				}
				.right {
					span {
						margin: 0 auto;
						&.frase {
							padding: 15em 0 2em;
						}
						&.button-more {
							// background: url(../images/bg-button-more.png) no-repeat center center;
							// width: 239px;
							// height: 73px;
							// box-sizing: border-box;
							a {
								background: url(../images/bg-button-more.png) no-repeat center center;
								// width: 239px;
								// height: 73px;
								color: #000;
								font-family: $bold;
								font-size: 1.6em;
								padding: 1em 1.8em;
							}
						}
					}
					ul {
						margin: 0;
						padding: 3em 0 0;
						li {
							list-style-type: none;
							display: inline-table;
							padding: 1.5em;
							span {
								&:first-child {
									min-height: 50px;
								}
							}
						}
					}
				}
			}
		}
	}
	.scroll-serie {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		background: url(../images/bg-serie.jpg) no-repeat top left;
		background-size: cover;
		width: 100%;
		height: 778px;

		//-webkit-font-smoothing: auto;
		-webkit-perspective: 1000px;
		-moz-perspective: 1000px;
		perspective: 1000px;

		.panel {
			//height: 778px;

			-webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
			-moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
			transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);


			-webkit-transform-origin: 50% 0%;
			-moz-transform-origin: 50% 0%;
			transform-origin: 50% 0%;
		}
		&.hide .panel {
			-webkit-transform: rotateX(-100deg);
			-moz-transform: rotateX(-100deg);
			transform: rotateX(-120deg);
		}
		.arrow {
			position: absolute;
			right: 100px;
			top: 48%;
			z-index: 1000;
			cursor: pointer;
		}
		.nav-serie {
			.container {
				color: #434343;
				ul {
					padding: 0;
					li {
						list-style-type: none;
						display: inline-block;
						padding: 0 1.5em;
						background: url(../images/separator.png) no-repeat center right;
						span {
							color: #71562c;
						}
						a {
							color: #434343;
							&:hover {
								color: #71562c;
							}
						}
						&:first-child {
							padding-left: 0;
							background: none;
						}
					}
				}
			}
		}
		.landing-wrapper {
			width: 100%;
			height: 700px;
			position: absolute;
			top: 50px;
			.landing-inner-content {
				// width: 5930px;
				width: 2100px;
				//width: 100%;
				height: 700px;
				position:absolute;
				top: 0;
				// overflow-x: scroll;
			}
			.box {
				position: relative;
				min-width: 500px;
				//width: 500px;
				height: 673px;
				margin: 20px;
				float: left;
				display: flex;
				justify-content: center;
				align-items: center;
				&:first-child {
					min-width: 400px;
					justify-content: flex-start;
					margin-left: 0;
					//line-height: 250px;
					.box-content {
						img {
							height: auto;
							padding: 8em 0;
						}
					}
				}
				.box-content {
					height: 100%;
					z-index: 999;
					overflow: hidden;
					img {
						//width: 100%;
						//height: 100%;
						width: auto;
					}
				}
				&.box-1 {
					// width: 1545px;
					.box-content {
						width: 1545px;
						height: 673px;
						img {
							position: absolute !important;
							top: 0;
							left: 0;
							&.p02 {
								// top: 120px !important;
								// left: 42px !important;
								top: 120px;
								left: 42px;
								height: auto;
								z-index: 1;
							}
							&.p03 {
								top: 137px;
								left: 353px;
								height: auto;
								z-index: 2;
							}
							&.p04 {
								top: 276px;
								left: 150px;
								height: auto;
								z-index: 4;
							}
							&.p04_1 {
								top: 342px;
								left: 78px;
								height: auto;
								z-index: 3;
							}
							&.p05 {
								top: 169px;
								left: 460px;
								height: auto;
								z-index: 3;
							}
							&.p06 {
								top: 243px;
								left: 627px;
								height: auto;
								z-index: 2;
							}
							&.p07_1 {
								top: 123px;
								left: 770px;
								height: auto;
							}
							&.p07_2 {
								top: 125px;
								left: 880px;
								height: auto;
							}
							&.p07_3 {
								top: 70px;
								left: 878px;
								height: auto;
							}
							&.p08 {
								top: 154px;
								left: 880px;
								height: auto;
							}
						}
					}
				}
				&.box-2 {
					// width: 1202px;
					.box-content {
						width: 1202px;
						// height: 640px;
						img {
							position: absolute !important;
							top: 0;
							left: 0;
							&.ms_01 {
								top: 145px !important;
								left: 230px !important;
								z-index: 3;
							}
							&.ms_02 {
								top: 35px !important;
								left: 260px !important;
								z-index: 3;
							}
							&.ms_03 {
								top: 235px !important;
								left: 675px !important;
								z-index: 3;
							}
							&.ms_04 {
								top: 25px !important;
								left: 60px !important;
								z-index: 3;
							}
							&.ms_05 {
								top: 140px !important;
								left: 0 !important;
								z-index: 3;
							}
							&.ms_06 {
								top: 20px !important;
								left: 785px !important;
								z-index: 3;
							}
							&.ms_07 {
								top: 380px !important;
								left: 995px !important;
								z-index: 3;
							}
							&.p09 {
								top: 240px !important;
								left: 38px !important;
								z-index: 2;
							}
							&.p10 {
								top: 240px !important;
								left: 290px !important;
							}
							&.p11 {
								top: 143px !important;
								left: 739px !important;
							}
						}
					}
				}
				&.box-3 {
					// width: 1008px;
					.box-content {
						width: 1115px;
						img {
							position: absolute !important;
							top: 0;
							left: 0;
							&.p20 {
								top: 259px !important;
								left: 150px !important;
								z-index: 5;
							}
							&.p21 {
								top: 259px !important;
								left: 250px !important;
								z-index: 3;
							}
							&.p22 {
								top: 301px !important;
								left: 750px !important;
								z-index: 3;
							}
							&.p23 {
								top: 307px !important;
								left: 50px !important;
								z-index: 3;
							}
							&.ms_10 {
								top: 100px !important;
								left: 320px !important;
								z-index: 4;
							}
							&.ms_11 {
								top: 100px !important;
								left: 40px !important;
								z-index: 3;
							}
							&.text-001 {
								top: 160px !important;
								left: 100px !important;
								z-index: 3;
							}
							&.text-002 {
								top: 155px !important;
								left: 460px !important;
								z-index: 4;
							}
							&.text-003 {
								top: 25px !important;
								left: 40px !important;
								z-index: 3;
							}
						}
					}
				}
				&.box-4 {
					//width: 1008px;
					.box-content {
						width: 469px;
						height: 666px;
						// overflow: hidden;
						img {
							position: absolute !important;
							// top: 0;
							// left: 0;
							&.bg_04 {
								display: block;
								// width: 469px;
								// height: 666px;

								// top: 259px !important;
								// left: 150px !important;
								// z-index: 5;
							}
							&.p25 {
								top: 140px !important;
								left: 18px !important;
								z-index: 3;
							}
							&.text-004 {
								top: 40px !important;
								left: 50px !important;
								z-index: 3;
							}
						}
					}
				}
				&.box-5 {
					//width: 1008px;
					.box-content {
						width: 945px;
						height: 666px;
						overflow: hidden;
						img {
							position: absolute !important;
							&.bg_05 {
								display: block;
							}
							&.p31 {
								top: 456px !important;
								left: 150px !important;
								z-index: 3;
							}
							&.p32 {
								top: 360px !important;
								left: 70px !important;
								z-index: 3;
							}
							&.p33 {
								top: 350px !important;
								left: 200px !important;
								z-index: 2;
							}
							&.p34 {
								top: 496px !important;
								left: 418px !important;
								z-index: 3;
							}
							&.p35 {
								top: 350px !important;
								left: 325px !important;
								z-index: 2;
							}
							&.p36 {
								top: 445px !important;
								left: 640px !important;
								z-index: 3;
							}
							&.text5 {
								top: 0 !important;
								left: 0 !important;
								z-index: 3;
							}
							&.text6 {
								top: 160px !important;
								left: 50px !important;
								z-index: 3;
							}
							&.text7 {
								top: 180px !important;
								left: 350px !important;
								z-index: 3;
							}
						}
					}
				}
			}
		}
	}
	.active {
		display: block !important;
	}
}
section {
	.container {
		color: #fff;
		@include clearfix;
		.left {
			width: 55%;
			margin-right: 10%;
			float: left;
			article {
				padding: 1em 0;
				div {
					position: relative;
					img {
						&.separator {
							width: 100%;
						}
					}
					.icon {
						position: absolute;
						left: -39px;
						top: -3px;
					}
				}
				p {
					line-height: 180%;
					color: #9e9e9e;
				}
			}
		}
		.right {
			width: 35%;
			float: left;
			aside {
				padding-top: 1em;
				.newsletter {
					@include clearfix;
					span {
						float: left;
						display: block;
						box-sizing: border-box;
						input {
							background: url(../images/bg-input.png) no-repeat center center;
							width: 100%;
							height: 47px;
							border: none;
							padding: 1em;
							box-sizing: border-box;
							color: #434343;
						}
						&:first-child {
							width: 78%;
						}
						&:last-child {
							background: url(../images/bg-value.png) no-repeat center left;
							width: 22%;
							padding: 1em;
						}
					}
				}
				.redes {
					padding: 1em 0;
					ul {
						padding: 0;
						//@include clearfix;
						li {
							list-style-type: none;
							display: inline-block;
							vertical-align: top;
						}
					}
				}
				img.bg_aside {
					width: 100%;
				}
			}
		}
	}
}


















