//COLOR
$hover : #632a79;
$blanco: #ffffff;
//FONTS

//MIXINS
@mixin ulcero {
	padding: 0;
	margin: 0;
}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//$width-name: max-device-width;
$width-name: max-width;
$tablet: 768px;
$iPhone6P: 414px;
$iPhone6: 375px;
$iPhone5: 320px;

@media screen and ($width-name : $iPhone6P) {
	.container {
		width: 95%;
		margin: 0 auto;
	}

	header {
		span {
			&.icon-nav {
				position: fixed;
				top: 25px;
				right: 20px;
				z-index: 999;
			}
		}
	}
	.slider {
		.slider-home {
			//width: 100%;
			.container {
				span {
					&.h1 {
						padding-top: 1.7em;
					}
				}
				.box {
					position: relative;
					.left {
						width: 100%;
					}
					.right {
						width: 100%;
						position: absolute;
						top: 0;
						left: 0;
						span.frase {
							padding: 18em 0 2em;
							text-shadow: 2px 3px 10px #292929;
						}
						ul {
							padding: 2em 0 0;
							font-size: .85em;
							@include clearfix;
							li {
								display: initial;
								width: 32%;
								float: left;
								padding: 0 2% 0 0;
								&:last-child {
									padding: 0;
								}
							}
						}
					}
				}
			}
		}
		.scroll-serie {
			.nav-serie {
				.container {
					ul {
						padding: 0;
						li {
							display: none;
							&:last-child {
								display: block;
							}
						}
					}
				}
			}
		}
	}
	section {
		.container {
			.left {
				width: 100%;
			}
			.right {
				width: 100%;
				aside {
					.newsletter {
						span {
							input {
								background-size: cover;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and ($width-name : $iPhone5) {
	.slider {
		.slider-home {
			.container {
				.box {
					.left {
						img {
							width: 100%;
						}
					}
				}
			}
		}
	}
	section {
		.container {
			.right {
				width: 100%;
				aside {
					img {
						&.bg_aside {
							width: 100%;
						}
					}
				}
			}
		}
	}
}